// Colors
$gray: #F0F0F0; 
$white: #FFFFFF;
$black: #121212;
$mycolor: #E4C1AE;

// Breakpoint
$bp-medium: 768px;
$bp-large: 1200px;

// Border-radius
$border-radius: 30px; 

// Width & height
$container-width: 1280px;
$container-height: 608px;
$row-width: 1140px;
$min-height: 407px;
$w100: 100%;

$padding: 86px 110px 86px 110px;

// Background image
$bg-image: url('../images/sean-o-KMn4VEeEPR8-unsplash_1_s6zmfh_c_scale,w_1400.jpg');
$bg-sm-image: url('../images/sean-o-KMn4VEeEPR8-unsplash_1_s6zmfh_c_scale,w_480.jpg');
$bg-md-image: url('../images/sean-o-KMn4VEeEPR8-unsplash_1_s6zmfh_ar_16_9,c_fill,g_auto__c_scale,w_720.jpg');;
$bg-repeat: no-repeat;
$bg-size: cover;

// Font
$font-family: 'Roboto', sans-serif;
$h1-size: 42px;
$p-size: 16px;

// Margin/padding
$padding: 86px 110px 86px 110px;
$sm-padding: 20px;
$p-margin: 43px;
$btn-padding: 10px 44px;

$btn-float: right;